*~
*.bak
pict*.png
*.html
*.dep
*.zo
json2.min.js
scribble.css
easyXDM.min.js
bootstrap-helpers.js
bootstraplesson.js
codemirror.js
scribble-common.js
wescheme-embedded.js
runmode.js
scheme2.js
codemirror.css
racket.css
bootstrap.css
textbook.css
workbook.css
extra_curriculum.css
pretty-printing.css
!lib/bootstrap.css
!lib/codemirror.css
!lib/textbook.css
!lib/workbook.css
!lib/pretty-printing.css
!lib/extra_curriculum.css
courses/bs1/resources/workbook/pages/*.pdf
courses/*/units/*/box.gif
distribution
