*~
*.bak
pict*.png
*.html
*.dep
*.zo
json2.min.js
scribble.css
easyXDM.min.js
bootstrap-helpers.js
scribble-common.js
wescheme-embedded.js
racket.css
bootstrap.css
textbook.css
!lib/bootstrap.css
!lib/textbook.css
courses/*/units/*/box.gif

